@import '../../global.scss';

footer {
    --gap: 4rem;
    position: relative;
    padding: 45px 25px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    gap: 2em;
    // box-shadow: 0px -2px  2px 2px rgba(0, 0, 0, 0.76);
}

.footer-links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    ul {
        display: flex;
        flex-direction: row;
        gap: var(--gap);
        font-weight: bold;
        text-transform: uppercase;

        @media (max-width: 700px) {
            gap: 2rem;
        }

        @media (max-width: 600px) {
            flex-direction: column;
            gap: 1rem;
        }
    }

    li {
        position: relative;
        font-size: 1.4em;

        @media (max-width: 800px) {
            font-size: 1.2rem;
        }

        @media (max-width: 600px) {
            font-size: 1em;
        }

        &::after {
            position: absolute;
            content: '';
            bottom: 0;
            left: 0;
            width: 0;
            height: 4px;
            background-color: $arg-yellow;
            transition: all .2s ease-in-out;
        }

        &:hover::after {
            width: 100%;
        }

        a {
            color: #0F6AC0;
        }
    }
}

.thanks {
    display: flex;
    justify-content: center;
    color: $arg-blue;
    font-size: 1.2rem;

    p, a {
        font-size: 1.4rem;
        color: $dark-blue;
    }

    a:hover {
        color: $arg-yellow;
        transition: all .2s ease-in-out;
    }
}

.social-links {
    display: flex;
    justify-content: center;

    ul {
        display: flex;
        gap: 2em;
    }

    li {
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .2s ease-in-out;

        &:hover {
            transform: scale(1.1);
        }
    }

    .text-link {
        font-size: 2rem;
        color: #0F6AC0;
        font-weight: bold;
    }

    img {
        height: 3em;
    }
}