@import './assets/styles/vars.scss';

.home-container {
    display: flex;
    flex-direction: column;
}
     
section.home-section {
    position: relative;
    margin-left: 45px;
    margin-right: 45px;
    margin-bottom: 45px;
    padding: 60px;
    padding-left: 15%;
    padding-right: 15%;
    
    &.full-width {
        padding-top: 60px;
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 0;
    }

    @media (max-width: 500px) {
        margin: 0px;
        padding-left: 5%;
        padding-right: 5%;

        h2 {
            font-size: 2em;
        }
    }
    @media (min-width: 501px) and (max-width: 800px) {
        margin: 0px;

        h2 {
            font-size: 3em;
        }
    }
}

// lists, misc.
ul {
    padding: 0;
}

li {
    list-style: none;
    
    a {
        text-decoration: none;
        color: $arg-blue;
    }
}
    

// buttons, links
a {
    transition: all .2s ease-in-out;
}

.text-link {
    cursor: pointer;
    text-decoration: underline;
}

section a, .text-link {
    color: $arg-yellow;
}

button, .button {
    // background-color: $off-white;
    border: solid 1px $off-white;
    border-radius: 20px;
    cursor: pointer;
    padding: .3em .6em;
    color: $off-white;
    font-size: 1rem;
    margin: 1em .8em 0px 0px;
    transition: all .2s ease-in-out;
    display: inline-block;
    opacity: .6;

    a {
        all: unset;
    }

    &:hover {
        opacity: 1;
    }

    &.no-click {
        cursor: default;
    }
}


// TYPOGRAPHY
.home-section {

    .align-right {
        text-align: right;
    }
    
    h2, h3, p {
        color: $off-white;
    }

    h2 {
        font-size: 4em;
        margin-bottom: 2rem;
        font-weight: 100;
    }

    p {
        font-size: 1.2em;
        line-height: 1.6;
        margin-top: 2rem;
    }
}

// FLEX HELPERS
.flex-end {
    justify-content: flex-end;
}

.float-right {
    // float: right;
}

.float-left {
    float: left;
}

// VIDEO - IMAGES
.iframe-container{    
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
  }

  .iframe-container iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }

//   lightbox
#lightbox {
    display: none;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;   
    background-color: rgba($arg-blue, .8);

    &.active {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    img {
        max-width: Min(100%, 1000px);
        max-height: 90vh;
    }
}

@keyframes backgroundMotion {
    from {
        background-position: bottom left;
        // background-size: 10%;
    }
    to {
        background-position: top right;
        // background-size: 100%;
    }
}